* {
    box-sizing: border-box;
}

body {
    /*   viewport units: vh (viewport height), vw (viewport width), vmin (smallest between width and height) */
    height: 100vh;
    font-family: 'Sofia Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../css/card-library/images/custom/pexels-anna-shvets-6664126.jpg");
    background-position:center top ;
    background-size:cover;
    background-repeat: no-repeat;
}
h1, h2 {
    font-family: 'Lobster', cursive;
}

h1 {
    color: aquamarine;
}

h2 {
    color: blanchedalmond;
}

#incorrect {
    display: grid;
    justify-content: flex-end;
}

#board {
    display: grid;
    grid-template-rows: repeat(3, 20vmin);
    grid-template-columns: repeat(4, 15vmin);
    gap: 1vmin;
}

#board > div {

    display: flex;
    height: 100%;
    width: 100%;
    background-size: cover;
    padding-bottom: calc(100% * 3 / 4);
}

#board > div:hover {
    border: 1vmin solid lightcoral;
    transition: 100ms;
}



#button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color:grey;
}

#button:hover {
    color: white;
    transition: 100ms;
    background-color: darkslategrey;
}