* {
    box-sizing: border-box;
}

body {
    /*   viewport units: vh (viewport height), vw (viewport width), vmin (smallest between width and height) */
    height:94vh;
    font-family: 'Sofia Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#incorrect {
    display: grid;
    justify-content: flex-end;
}

#board {
    display: grid;
    grid-template-rows: repeat(3, 20vmin);
    grid-template-columns: repeat(4, 15vmin);
    gap: 8vmin;
}

#board > div {
    display: flex;
    border-radius: 15%;
    border: 1vmin solid grey;
    height: 4fr;
    width: 4fr;
    background-image: url("/home/mitul/Downloads/download.jpeg");
}

#board > div:hover {
    border: 1vmin solid lightcoral;
    transition: 100ms;
}

#button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color:grey;
}

#button:hover {
    color: blue;
    transition: 100ms;
    background-color: solid red;
}